 
     body {
        font-family: "Century Gothic", CenturyGothic, 'Helvetica Neue', sans-serif;
        font-size: 22px;
        margin: 0;
        padding: 0;
    }
    #content {
        max-width: 1600px;
        margin: 0 auto;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: "Century Gothic", CenturyGothic, 'Helvetica Neue', sans-serif;
    }
    h2{
        margin: 0;
    }
    nav a {
        text-align: center;
        color: #fcfbfb;
        text-decoration: none;
    }    
    #hero-msg h1{
        text-align: center;
    }
    #hero-msg h4{
        text-align: center;
    }
    #hero-img {
        width: 100%;
    }
    #logo_link {
        padding-top: 5px;
    }
    .button-box{
        text-align: center;
    }
    main section{
        text-align: center;
    }
    main section img {
        box-sizing: border-box;
    }  
    #background {
        background-color:#FFF8EB;
        color: #02182B;
        height: 725px;
    }
    body {
        background-color: #FFF8EB; 
        color:#02182B;
    }
    header {
        background-color:#4E6A52;
        color:#FFF8EB;
       
    }
    .logo {
        width: 80px;
    }
    nav a:hover {
        background-color: #FFF8EB;
        color: #02182B;
        padding: 35px;
    }
    nav a {
        text-align: center;
        color: #FFF8EB;
        text-decoration: none;
        padding: 35px;
    }
    .home-title{
        color:#02182B;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 2em;
         margin-top: 10px;
    }
    h4{
        color: #FFF8EB;
    }
    .book {
        background-color: #FFF8EB; 
        color: #02182B;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
    }

    .join {
        background-color:#EC7357;
        color: #FFF8EB;
        padding: 15px 30px;
        text-decoration: none;
        font-size: 18px;
        margin-top: 50px;
        border-radius: 5px;
    }
    .book:hover {
        background-color: #FFF8EB;
        color: #02182B;
    }
    .join:hover {
        background-color: #eb7358d5; 
        color: #FFF8EB;
        padding: 5px
    }
    .msg h2{
        color: #02182B;
    }
    .msg p{
        color: #02182B;
        font-size: .8em;
        padding-bottom: 15px;
    }
    .card-img {
        border: 10px solid #02182B;
    }
    #background {
        background-color:#FFF8EB;
        color: #02182B;
    }
    .msg {
        background-color: #FFF8EB; 
        color: #02182B;
        line-height: 1.5em;
        padding: 35px;
    }
    footer h3{
        color: #FFF8EB;
    }
    footer a{
        color: #FFF8EB;
        text-decoration: none;
    }
    footer a:hover {
        color: #02182B ;
        
    }
    footer .social img{
        padding-top: 15px;
    }
    footer{
        background-color:#4E6A52;
        color: #FFF8EB;
        padding: 25px 50px;
        margin-top: 200px;
    }
    .icon {
        width: 80px;
        padding-top: 10px;
    }
    .rivers-card{
        margin: 200px 0;
    }
    .camping-card{
        margin: 200px 0;
    }
    .rapids-card{
        margin: 200px 0;
    }