        body {
        max-width: 1600px;
        margin: 0 auto;
    }
    nav a {
        text-align: center;
        color: #fcfbfb;
        text-decoration: none;
    }    
    #hero-msg h1{
        text-align: center;
    }
    #hero-msg h4{
        text-align: center;
    }
    #hero-img {
        width: 100%;
        }
    .button-box{
        text-align: center;
    }
    main section{
        text-align: center;
    }
    .icon {
        display: block; 
        
    }
    #background {
        height: 725px;
    }
    body {
        background-color: #FFF8EB; 
        color:#02182B;
    }
    header {
        background-color:#4E6A52;
        color:#FFF8EB;
        text-align: center;
    }
    nav a:hover {
        background-color: #FFF8EB;
        color: #02182B;
    }
    nav a{
        color: #FFF8EB;
    }
    .home-title{
        color:#02182B;
    }
    h4{
        color: #FFF8EB;
    }
    .book {
        background-color: #FFF8EB; 
        color: #02182B;
        text-decoration: none;
    }

    .join {
        background-color:#EC7357;
        color: #FFF8EB;
        padding: 5px;
        text-decoration: none;
    }
    .book:hover {
        background-color: #FFF8EB;
        color: #02182B;
    }
    .join:hover {
        background-color: #eb7358d5; 
        color: #FFF8EB;
        padding: 5px
    }
    .msg h2{
        color: #02182B;
    }
    .msg p{
        color: #02182B;
    }

    #background {
        background-color:#FFF8EB;
        color: #02182B;
    }
    .msg {
        background-color: #FFF8EB; 
        color: #02182B;
    }
    footer h3{
        color: #FFF8EB;
    }
    footer a{
        color: #FFF8EB;
        text-decoration: none;
    }
    
    footer{
        background-color:#4E6A52;
        color: #FFF8EB;
    }
    .icon {
        width: 80px;
    }